@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5em;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.3em;
}
#apod-container {
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-rows: 1fr;

  font-size: 1.1rem;
  gap: 1em;
}
.apod-item {
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
}
.apod-image {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}
.details {
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 0.9em;
}

#loading,
#error-message {
  text-align: center;
  margin-top: 20px;
  padding: 0.8em;
  border-radius: 0.3em;
}
#loading {
  background-color: #e6f2ff;
  color: #0066cc;
  display: none;
}
#error-message {
  background-color: #ffdddd;
  color: #ff0000;
  display: none;
}
.loading-spinner {
  border: 0.3em solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
