@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  color: #ffe81f;
  background: url("https://www.transparenttextures.com/patterns/stardust.png"),
    #0c0c0a;
}
#favorite-scene iframe {
  width: 600px;
  height: 350px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 0.3em;
}
#home p {
  margin-top: 0.4em;
}

#navbar {
  font-size: 1.3rem;

  position: sticky;
  top: 0;
  padding: 0.2em;
  text-align: center;
}
#mobile-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: center;

  gap: 0.4em;
}
.nav-links li {
  margin-left: 20px;
}

li {
  list-style: none;
}
img {
  max-width: 75%;
  height: auto;
}

body {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
section {
  padding: 1.2rem;
}
i:hover {
  color: #d4c32b;
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.episode {
  flex: 0 0 auto;
  padding-bottom: 1em;
  font-size: 1.5rem;
}
h2 {
  margin-bottom: 1rem;
}
.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  font-size: 1.2rem;
}
footer {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  margin-top: 0.3em;
}
a:hover {
  color: #d4c32b;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 850px) {
  #navbar {
    display: none;
  }
  #favorite-scene iframe {
    width: 350px;
    height: 200px;
    margin: 0 auto;
  }
  .character-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 0px;
    font-size: 1.2rem;
  }
  #mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.4em;
    position: relative;
  }

  #mobile-navbar .logo {
    font-size: 1.2rem;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }

  #mobile-navbar .menu-icon {
    font-size: 1.2rem;

    transform: rotate(0.25turn);
    transition: 1.2s ease-in-out;
  }

  #mobile-navbar .menu-icon:hover {
    transform: scale(1.5);
  }
  #mobile-navbar .menu-container {
    position: relative;
  }

  #mobile-navbar .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
  }

  #mobile-navbar .menu-icon:hover ~ .mobile-menu,
  #mobile-navbar .mobile-menu:hover {
    display: block;
    opacity: 1;
  }
}
