@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  color: #ffe81f;
  background: url("https://www.transparenttextures.com/patterns/stardust.png"),
    #0c0c0a;
}

h1 {
  margin-bottom: 0.3em;
}
nav {
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  padding: 0.2em;
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 0.4em;
}
.hamburger {
  display: none;
  font-size: 1rem;
  border: none;
}
li {
  list-style: none;
}
img {
  max-width: 75%;
  height: auto;
}

body {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
section {
  padding: 1.2rem;
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.episode {
  flex: 0 0 auto;
  padding-bottom: 1em;
  font-size: 1.5rem;
}
h2 {
  margin-bottom: 1rem;
}
.character-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
  font-size: 1.2rem;
}
footer {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  margin-top: 0.3em;
}
a:hover {
  color: #d4c32b;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  #navbar {
    display: none;
  }
}
